#BlogAllView{

    .insideView{
        max-width: 2000px;
        margin: auto;
        margin-bottom: 5%;

        .tabs{
            // border: 2px solid yellow;
            width: 350px;
            // height: calc(100vh - 54px);
            color: white;
            padding: 50px;
            
            .q-tab__label{
                font-size: 1rem;
                margin-bottom: 20px;
            }
            
        }

        // ****************************post********************
        .q-tab-panel{
            // border: 2px solid yellow;
            background: $primary;
            width: 100%;
            // height: calc(100% - 54px);
            color: white;

            .text-h1{
                padding-top: 3%;
                padding-left: 5%;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 900;
                margin-bottom: 40px;
            }

            // ------------------------card---------------------

            .q-card{
                background: $primary;
                // border: 2px solid yellow;
                // padding-top: 20px;
                padding: 0;



                .title{
                    // border: 2px solid red;
                    padding: 1.5%;
                    a{
                        display: block;
                        font-size: 2.5rem;
                        color: white;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 500;
                        text-decoration: none;
                        line-height: 1;
                        cursor: pointer;
                    }
                    

                    p{
                        padding: 0;
                        margin: 0;
                    }

                    &:hover{
                        opacity: 0.7;
                    }
                }

                .content{
                    // border: 1px solid red;
                    padding: 0 1.5%;
                    padding-top: 1.5%;
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }

            //********************* History Layout*******************
            .History{
                flex-wrap: wrap;

                .col:nth-child(1){
                    flex: 1 1 100%;
                    font-size: 2rem;
                    // border: 1px solid black;
                    padding: 0 4%;


                    .HistoryImg{
                        max-height: 380px;
                    }

                    .right{
                        // border: 2px solid yellow;
                        max-height: 380px;
                        overflow: hidden;
                    }


                    .HistoryContent{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 10;  
                        -webkit-box-orient: vertical;  
                    }

                }
                .col:nth-child(2){
                    padding-left: 4%;
                }
                .col:nth-child(3){
                    padding-right: 4%;
                }

                .col:nth-child(2),
                .col:nth-child(3){
                    flex: 1 1 50%;
                    color: white;
                    font-size: 2rem;
                    padding-top: 1.5%;
                    // border: 1px solid black;

                    .HistoryImg{
                        max-height: 300px;
                    }
                    .right{
                        // border: 2px solid yellow;
                        max-height: 316px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .HistoryContent{
                        // padding-top: 0px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;  
                    }
                }

                .col:nth-child(2){
                    .HistoryContent{
                        -webkit-line-clamp: 6;  
                    }
                }

                .col:nth-child(3){
                    .HistoryContent{
                        -webkit-line-clamp: 5;  
                    }
                }

            }


            //**************************Geography**************************

            .Geography{
                .col{
                    padding: 0 4%;

                    .GeoImg{
                        max-height: 450px;
                    }
                }

                .info{
                    // border: 2px solid red;
                    height: 466px;
                    overflow: hidden;

                    .content{
                        padding-top: 2.5%;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical; 
                    }
                }

                .col:nth-child(1){
                    .content{
                        -webkit-line-clamp: 14;  
                    }
                }

                .col:nth-child(2){
                    // background: #000;

                    .info{
                        order:2;

                        .content{
                            -webkit-line-clamp: 13;  
                        }
                    }
                }



            }

            //********************* Culture ******************
            .text-center{
                padding-left: 0;
                padding-right: 3%;
            }
            .Culture{
                .col{
                    flex: 1 1 50%;

                    .CultureImg{
                        max-height: 400px;
                    }
                }

                .info{
                    // border: 2px solid red;
                    height: 450px;
                    overflow: hidden;
                    margin-bottom: 5%;

                    .content{
                        padding-top: 2%;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical; 
                        -webkit-line-clamp: 15;  
                    }
                }

                .col:nth-child(1){
                    padding-left: 4%;
                    padding-right: 0.5%;
                }

                .col:nth-child(2){
                    padding-right: 4%;
                    padding-left: 0.5%;
                }
            }
        }
    }
}

//------------------------Macbook 1920px------------------------------
@media(max-width:1920px){
    #BlogAllView{
        .insideView{
    
            // ****************************post********************
            .q-tab-panel{
    
                // ------------------------card---------------------
                .q-card{
                    .title{
                        a{
                            font-size: 2rem;
                        }
                    }
    
                    .content{
                        padding-top: 2%;
                    }
                }
    
                //********************* History Layout*******************
                .History{
                    flex-wrap: wrap;
    
                    .col:nth-child(1){
    
                        .HistoryImg{
                            max-height: 260px;
                        }
    
                        .right{
                            max-height: 260px;
                        }
    
    
                        .HistoryContent{
                            -webkit-line-clamp: 5;  
                        }
    
                    }
                    .col:nth-child(2),
                    .col:nth-child(3){

                        .HistoryImg{
                            max-height: 220px;
                        }
                        .right{
                            // border: 2px solid yellow;
                            max-height: 230px;
                        }
                    }
    
                    .col:nth-child(2){
                        .HistoryContent{
                            -webkit-line-clamp: 3;  
                        }
                    }
    
                    .col:nth-child(3){
                        .HistoryContent{
                            -webkit-line-clamp: 3;  
                        }
                    }
    
                }
    
    
                //**************************Geography**************************
    
                .Geography{
                    .col{    
                        .GeoImg{
                            max-height: 300px;
                        }
                    }
    
                    .info{
                        // border: 2px solid red;
                        height: 300px;
    
                    }
    
                    .col:nth-child(1){
                        .content{
                            -webkit-line-clamp: 8;  
                        }
                    }
    
                    .col:nth-child(2){   
                        .info{
                            .content{
                                -webkit-line-clamp: 8;  
                            }
                        }
                    }
    
    
    
                }
    
                //********************* Culture ******************
                .Culture{
                    .col{
                        .CultureImg{
                            max-height: 290px;
                        }
                    }
    
                    .info{
                        // border: 2px solid red;
                        height: 290px;
    
                        .content{
                            -webkit-line-clamp: 9;  
                        }
                    }
                }
            }
        }

    }
}

//------------------------iPad 1024px-------------------------------
@media(max-width:1024px){
    #BlogAllView{
        .insideView{
            .tabs{
                width: 150px;

                .textTab{
                    display: none;
                }
            }
    
            // ****************************post********************
            .q-tab-panel{
                // border: 2px solid yellow;
                .text-h1{
                    padding-top: 5%;
                    padding-left: 7%;
                    font-size: 3.5rem;
                    line-height: 1.25;
                }
                .space{
                    display: none;
                }
    
                // ------------------------card---------------------
    
                .q-card{
                    margin-bottom: 5%;

                }
    
                //********************* History Layout*******************
                .History{
                    flex-wrap: wrap;
    
                    .col:nth-child(1){
                        .HistoryImg{
                            width: 500px;
                        }
    
                    }
                    .col:nth-child(2){
                        padding-right: 4%;
                    }
                    .col:nth-child(3){
                        padding-left: 4%;
                    }
    
                    .col:nth-child(2),
                    .col:nth-child(3){
                        flex: 1 1 100%;
    
                        .HistoryImg{
                            width: 500px;
                        }
                    }
    
                }
    
    
                //**************************Geography**************************
    
                .Geography{
                    .col{
                        .GeoImg{
                            width: 500px;
                            // max-height: 300px;
                        }
                    }
    
                    .col:nth-child(1){
                        .info{
                            order: 1;
                        }
                    }
                }
    
                //********************* Culture ******************
                .text-center{
                    display: none;
                }
                .Culture{
                    .col{
                        flex: 1 1 100%;
    
                        .CultureImg{
                            width: 500px;
                        }
                    }
    
    
                    .col:nth-child(1){
                        padding-left: 4%;
                        padding-right: 4%;
                    }
    
                    .col:nth-child(2){
                        padding-right: 4%;
                        padding-left: 4%;
                    }
                }
            }
        }

    }
}

//--------------------------iPhone 600px--------------------------------
@media(max-width:600px){
    #BlogAllView{
        .insideView{
            .tabs{
                width: 50px;
                padding: 0;
                padding-top: 50%;

                .textTab{
                    display: none;
                }
            }
    
            // ****************************post********************
            .q-tab-panel{
                // border: 2px solid yellow;
                .text-h1{
                    padding-top: 10%;
                    padding-left: 7%;
                    font-size: 2rem;
                    line-height: 1.25;
                    margin-bottom: 25px;

                }
                .space{
                    display: none;
                }
    
                // ------------------------card---------------------
    
                .q-card{
                    margin-bottom: 5%;

                }
    
                //********************* History Layout*******************
                .History{
                    flex-wrap: wrap;

                    .col:nth-child(1){

                        .HistoryImg{
                            width: 250px;
                            height: 150px;
                        }

                        .HistoryContent{
                            display: none;
                        }
                        .title{
                            padding: 0;

                            a{
                                font-size: 1.5rem;
                            }
                        }
                        .right{
                            padding-top: .75%;
                        }
    
                    }
                    .col:nth-child(2){
                        padding-right: 4%;
                    }
                    .col:nth-child(3){
                        padding-left: 4%;
                    }
    
                    .col:nth-child(2),
                    .col:nth-child(3){
                        flex: 1 1 100%;
    
                        .HistoryImg{
                            width: 250px;
                            height: 150px;
                        }
                        .HistoryContent{
                            display: none;
                        }
                        .title{
                            padding: 0;

                            a{
                                font-size: 1.5rem;
                            }
                        }
                        .right{
                            padding-top: .75%;
                        }

                    }
    
                }
    
    
                //**************************Geography**************************
    
                .Geography{
                    .col{
                        .GeoImg{
                            width: 250px;
                            height: 180px;
                            // max-height: 300px;
                        }

                        .title{
                            padding: 0;

                            a{
                                font-size: 1.5rem;
                            }
                        }

                        .GeoContent{
                            display: none;
                        }

                        .info{
                            padding-top: .75%;
                            height: 100%;
                        }
                    }
                }
    
                //********************* Culture ******************
                .text-center{
                    display: none;
                }
                .Culture{
                    .col{
                        flex: 1 1 100%;
    
                        .CultureImg{
                            width: 250px;
                            height: 180px;
                        }
                        .title{
                            padding: 0;

                            a{
                                font-size: 1.5rem;
                            }
                        }
                        .CultureContent{
                            display: none;
                        }

                        .info{
                            padding-top: .75%;
                            height: 100%;
                        }
                    }
    
                }
            }
        }
    }
}