#CartView{
    background: $primary;
    padding: 5% 10%;
    height: 100vh;

    .cartTitle{
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }

    .cart{
        border: 3px solid $secondary;
        font-family: 'Ubuntu', sans-serif;

    }


    .q-table__top{
        justify-content: center;

        .q-table__title{
            font-size: 2rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            color: $secondary;
            align-self: center;
        }
    }


    .total{
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: $secondary;
    }

    .title{
        font-size: 2rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: $secondary;
    }

    .checkoutPage p:nth-child(1){
        font-size: 2rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: $secondary;
    }

    .checkoutPage p:nth-child(2){
        font-size: 1.5rem;
        text-align: center;
    }

    .info{
        .q-table{
            // background: $primary-lighter;
            border: 3px dashed $secondary;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
        }

        .q-btn{
            margin-top: 2%;
            color: $primary;
        }
    }

}

// ------------------------- M1 1440px ---------------------
@media(max-width:1440px){
    #CartView{
        .cartTitle{
            font-size: 3rem;
        }

        .total{
            font-size: 1.5rem;
        }

        .title{
            font-size: 1.75rem;
        }

        .checkoutPage p:nth-child(1){
            font-size: 1.75rem;
        }
        .checkoutPage p:nth-child(2){
            font-size: 1.25rem;
        }
    }
}

//-------------- iPhone 600px ------------------------
@media(max-width:600px){
    #CartView{
        height: 100%;

        .cartTitle{
            font-size: 2rem;
            text-align: center;
        }

        .q-stepper{
            height: 100%;
            // border: 2px solid yellow;
            margin-bottom: 50%;
        }
        .q-stepper__header{
            display: none;
        }

        .info{
            .q-table{
                padding: 5%;
                border: none;
                
                td{
                    font-size: .5rem;
                }
            }

        }

        .q-markup-table{
            margin: 0;
        }


        .total{
            font-size: 1.25rem;
        }
        .title{
            font-size: 1.5rem;
        }
        .checkoutPage p:nth-child(1){
            font-size: 1.25rem;
        }
        .checkoutPage p:nth-child(2){
            font-size: 1rem;
        }

    }
}