#IndexPage {
    background: $primary;

    section {
        padding-bottom: 100px;
    }

    // banner---------------------------
    .banner{
        width: 100%;
        height: 100vh;
        padding: 0;
        position: relative;
    

        .video{
            width: 100%;
            height: 100%;
        }

        .title {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            text-align: center;
            font-weight: 700;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 40px;
            font-size: 5rem;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);



            span {
                color: $secondary;
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);


            }
        }

        .subtitle{
            position: absolute;
            top: 37%;
            left: 50%;
            width: 70%;
            transform: translateX(-50%);
            color: white;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.75rem;
            padding-bottom: 100px;
            text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
        }

        .q-btn {
            position: absolute;
            bottom: 28%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            background-color: $secondary-lighter;
            margin-top: 50px;
            box-shadow: 6px 3px 12px 6px rgba($color: #000000, $alpha: .2);

            &:active{
                box-shadow: 8px 4px 16px 8px rgba($color: #000000, $alpha: .2);
            }
        }

    }

    // section02---------------------------
    #section02 {
        margin-top: 5%;
        margin-bottom: 5%;

        h3 {
            color: white;
            text-align: center;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-weight: 600;
            margin-bottom: 30px;
            font-size: 2.5rem;
        }

        .intro {
            margin: auto;
            margin-bottom: 80px;
            max-width: 950px;
            color: white;
            text-align: center;
            font-size: 1.25rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: lighter;
        }

        .q-col-gutter-md {
            padding: 0 200px;
            justify-content: center;

            .col-4 {
                max-width: 345px;
                margin: 0 60px;

                .q-btn {
                    width: 345px;
                    height: 400px;
                }

                .absolute-full {
                    text-align: center;
                    font-size: 3.5rem;
                    line-height: 1.25;
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-weight: 700;

                    a{
                        display: block;
                        color: #ffffff;
                        text-decoration: none;

                        &:hover{
                            color: rgba($color: white, $alpha: 0.5);
                            transition: all 0.3s;
                        }

                        &:active{
                            text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
                            transition: all 0.1s;
                        }
                    }
                }
            }

        }
    }

    // section03---------------------------
    #section03 {
        background: #0D4190;
        padding: 0;
        height: 500px;
        margin-bottom: 3.5%;

        .q-img {
            margin-right: 50px;
        }

        .col-5{
            // border: 1px solid yellow;
            height: 500px;
            padding: 50px 30px;

            overflow: hidden;
        }

        .marquee-w{
            margin-left:1.5%;
            border: 1px solid red;
            overflow: hidden;
            position: relative;



        }
    }

    // section04---------------------------
    #section04 {
        padding-top: 50px;

        h3 {
            color: white;
            text-align: center;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-weight: 600;
            margin: 30px 0;
            font-size: 2.5rem;

        }

        .intro {
            margin: auto;
            margin-bottom: 80px;
            max-width: 1000px;
            color: white;
            text-align: center;
            font-size: 1.25rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: lighter;
        }

        .q-carousel__slides-container {
            background-color: $primary;

            .row {
                justify-content: center;
                background-color: $primary;


                .q-img {
                    margin: 0 30px;
                }
            }

        }
    }

    // footer---------------------------
    footer {
        width: 100%;
        height: 300px;
        background: $primary-lighter;
    }
}