#TopView{
    background: $primary;
    height: 100%;

    .title{
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 4rem;
        padding-top: 3.5%;
        line-height: 1.5;
    }

    .subtitle{
        display: block;
        color: white;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.25rem;

        // padding-top: 1%;
    }

    .photos{
        margin: 3% 18%;
        color: white;
    }

    .col{
        // border: 1px solid yellow;
    }

    h4{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 500;

    }


    p{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;

    }

    // ************************ row1**************************************
    .taksim{
        padding: 10px;
    }
    .Hagia,
    .grandBazaar,
    .kizKulesi{
        padding: 10px;
    }

    .row1{
        .q-img{
            height: 400px;
        }
    }

    .taksim{
        .q-img{
            height: 820px;
        }
    }

    // ************************ row2**************************************
    .galata,
    .dolmabahce,
    .cistern,
    .sultanAhmet{
        padding: 10px;
    }



    // ************************ row3**************************************
    .suleymaniye,
    .misir{
        padding: 10px;
    }

}


//----------------------------- M1 1440px--------------------------------
@media(max-width:1440px){
    #TopView{
        .title{
            font-size: 3rem;
        }
        .subtitle{
            font-size: 1rem;

        }
        .photos{
            margin: 3% 15%;
        }

        h4{
            font-size: 1.75rem;
        }
        p{
            font-size: .75rem;
        }
    }
}

// ------------------------------ iPad 1024px --------------------------
@media(max-width:1024px){
    #TopView{
        .photos{
            margin: 3% 5%;
        }
    }
}