#TopView{
    background: $primary;
    height: 100%;

    .title{
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 4rem;
        padding-top: 3.5%;
        line-height: 1.5;
    }

    .subtitle{
        display: block;
        color: white;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.25rem;

        padding-bottom: 2%;
    }

    .photos{
        margin: 3% 18%;
        color: white;
    }

    h4{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 500;

    }


    p{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;

    }

    // ************************ row1**************************************
    .taksim{
        padding: 10px;
    }
    .Hagia,
    .grandBazaar,
    .kizKulesi{
        padding: 10px;
    }

    .row1{
        .q-img{
            height: 400px;
        }
    }

    .taksim{
        .q-img{
            height: 820px;
        }
    }

    // ************************ row2**************************************
    .galata,
    .dolmabahce,
    .cistern,
    .sultanAhmet{
        padding: 10px;
    }

    .galata,
    .sultanAhmet{
        .q-img{
            height: 550px;
        }
    }

    .dolmabahce,
    .cistern{
        .q-img{
            height: 300px;
        }
    }



    // ************************ row3**************************************
    .suleymaniye,
    .misir{
        padding: 10px;

        .q-img{
            height: 400px;
        }
    }


}


//----------------------------- M1 1440px--------------------------------
@media(max-width:1440px){
    #TopView{
        .title{
            font-size: 3rem;
        }
        .subtitle{
            font-size: 1rem;

        }
        .photos{
            margin: 3% 15%;
        }

        h4{
            font-size: 1.75rem;
        }
        p{
            font-size: .75rem;
        }

        //**************** row1 ***********************
        .row1{
            .q-img{
                height: 300px;
            }
        }
        .taksim{
            .q-img{
                height: 620px;
            }
        }

        //***************** row2**************************
        .galata,
        .sultanAhmet{
            .q-img{
                height: 450px;
            }
        }
        .dolmabahce,
        .cistern{
            .q-img{
                height: 200px;
            }
        }

        //***************** row3**************************
        .suleymaniye,
        .misir{
            .q-img{
                height: 300px;
            }
        }
    }
}

// ------------------------------ iPad 1024px --------------------------
@media(max-width:1024px){
    #TopView{
        .title{
            padding-top: 6%;
            font-size: 2.5rem;
        }
        .subtitle{
            font-size: 1rem;
            padding: 0% 8%;
            padding-top: 2%;
            padding-bottom: 3%;
        }
        .photos{
            margin: 3% 5%;
        }

        h4{
            font-size: 1.5rem;
            line-height: 1.25;
        }

        p{
            font-size: .5rem;
            line-height: 1;
        }

        //**************** row1 ***********************
        .row1{
            .q-img{
                height: 200px;
            }
        }
        .taksim{
            .q-img{
                height: 420px;
            }
        }

        //***************** row2**************************
        .galata,
        .sultanAhmet{
            .q-img{
                height: 350px;
            }
        }

        .dolmabahce,
        .cistern{
            .q-img{
                height: 200px;
            }
        }

        //***************** row3**************************
        .suleymaniye,
        .misir{
            .q-img{
                height: 250px;
            }
        }
    }
}

//----------------------------- iPhone 600px ------------------------
@media(max-width:600px){
    #TopView{
        .title{
            padding-top: 10%;
            font-size: 2rem;
        }

        .subtitle{
            font-size: .5rem;
            padding: 0 8%;
        }

    }
}