#ToursAllView{
    padding: 0;
    background: $primary;
    height: 100%;


    .banner{
        .q-img{
            width: 100%;
            height: 500px;
    
            h1{
                font-family: 'Alegreya Sans SC', sans-serif;
                font-weight: 700;
                line-height: 1.5;
            }
            p{
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.5rem;
    
            }
        }

    }

    .background{
        background: white;
        height: 100%;
        margin: auto;
        max-width: 1400px;
    }

    .tours{
        .row{
            .col{
                width: 25%;
            }
        }
    }

}

// sm= 600px / md=1024px
//---------------------------M1 1440px-------------------------------
@media(max-width:1440px){
    #ToursAllView{
        .banner{
            .q-img{
                width: 100%;
                height: 300px;
        
                h1{
                    font-size: 4.5rem;
                    line-height: 1.5;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }

        .background{
            margin: 0 10%;
        }
    }
}

// RWD: 1024px---------------------------------
@media(max-width:1024px) {
    #ToursAllView{
        .banner{
            .q-img{
                width: 100%;
                height: 250px;
        
                h1{
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 1.5;
                }
                p{
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1rem;
                    padding: 0 5%;
                    text-align: center;
                }
            }
        }
 
        .background{
            margin: 0 10%;
        }
    }
}

// RWD: 600px-----------------------------------
@media(max-width:600px) {
    #ToursAllView{
        .banner{
            .q-img{
                width: 100%;
                height: 150px;
        
                h1{
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 1.5;
                }
                p{
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 0.5rem;
                    padding: 0 5%;
                    text-align: center;
                }
            }

        }

        .background{
            background: $primary;
            margin: 0 3%;

        }
        .tours{
            .row{
                .col{
                    width: 50%;
                }
            }
        }
    }
}