#TourCard{
    .my-card{
        width: 100%;
        height: 350px;
        padding: 0;
        // border: 2px solid red;
        // overflow: hidden;
        .q-card__section{
            padding: 0;
        }

        .image{
            .q-img{
                width: 100%;
                height: 100%;
                // border: 5px solid yellow;
            }
        }

        .info{
            width: 100%;
            padding: 0 5%;
            padding-top: 5%;
            overflow: hidden;
            text-overflow: ellipsis;

            .text-h6{
                color: $primary;
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                font-size: 1rem;
                font-weight: 600;

                &:hover{
                    color: $secondary;
                }
            }

            .price{
                // padding-top:8%;
                font-size: 1rem;
                font-weight: 600;
                width: 100%;
                height: 100%;
                padding-right: 5%;
                text-align: right;
                // max-height: 100%;
                word-wrap: break-word;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

        }

        .button{
            position: absolute;
            bottom: 4%;
            left: 50%;
            transform:translateX(-50%);
            .q-btn{
                width: 150px;
                margin: auto;
                background: $secondary;

                span{
                    margin: auto;
                    color: white;
                }
            }
        }

        
    }
    
}

// ----------------------------M1 1500px-------------------------
@media(max-width:1500px){
    #TourCard{
        .my-card{
            height: 200px;
        }

        
        .button{
            display: none;

        }
    }
}